@using Volo.Abp.Settings
@model Abp.SettingManagement.Mvc.UI.Web.Views.Components.SettingHtmlInfo
@inject SettingProvider SettingProvider

@{
    string value = await SettingProvider.GetOrNullAsync(Model.Name);
    string checkedStr = string.Compare(value, "true", StringComparison.OrdinalIgnoreCase) == 0 ? "checked" : "";
}
<div class="custom-checkbox custom-control">
    <input type="checkbox" id="@Model.Id" value="@value" class="custom-control-input" @checkedStr/>
    <label class="custom-control-label" for="@Model.Id">@Model.Description</label>
</div>