@using Volo.Abp.Settings
@model Abp.SettingManagement.Mvc.UI.Web.Views.Components.SettingHtmlInfo
@inject SettingProvider SettingProvider

@{
    string value = await SettingProvider.GetOrNullAsync(Model.Name);
    string checkedStr = string.Compare(value, "true", StringComparison.OrdinalIgnoreCase) == 0 ? "checked" : "";
}
<div class="checkbox">
    <input type="checkbox" id="@Model.Id" value="@value" class="form-check-input" @checkedStr/>
    <label class="form-check-label" for="@Model.Id">@Model.Description</label>
</div>