@model Abp.SettingManagement.Mvc.UI.Web.Views.Components.SettingHtmlInfo

@if (!Model.Description.IsResourceNotFound)
{
    <p class="form-text">@Model.Description</p>
}
<input type="number" id="@Model.FormId" name="@Model.FormName" value="@Model.Value" class="form-control"/>
